#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px
}

.tooltip .tooltip-inner .button {
    border-radius: 15px;
    margin-top: .3em;
    margin-bottom: .3em;
    float: right
}

.widget-voting h2[data-v-1f72f9a2] {
    display: inline-block;
    width: 250px;
    background-color: #33a3f1;
    font-size: 10px;
    font-color: #ffffff;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 0;
    padding: 1px;
    color: #fff;
    border-bottom: 1px solid #323d54
}

.widget-voting .time[data-v-1f72f9a2] {
    color: #33a3f1;
    display: inline-block
}

.widget-voting .content[data-v-1f72f9a2] {
    display: inline-block
}

.widget-voting .tooltip[data-v-1f72f9a2]:hover {
    text-decoration: none
}

.widget-voting .tooltip span[data-v-1f72f9a2] {
    z-index: 5;
    display: none;
    padding: 3px 10px 0;
    margin-top: -15px;
    margin-left: -5px;
    width: auto;
    line-height: .6em
}

.widget-voting .tooltip:hover span[data-v-1f72f9a2] {
    display: inline;
    position: absolute;
    border: 1px solid #000;
    color: #000
}

.widget-voting .tooltip span[data-v-1f72f9a2] {
    border-radius: 15px;
    opacity: .8
}

.widget-voting .tooltip-content[data-v-1f72f9a2] {
    font-size: .6em
}

.widget-voting .tooltip-content img[data-v-1f72f9a2] {
    height: 1.6em;
    width: 1.6em
}

.widget-voting .tooltip-content a[data-v-1f72f9a2] {
    color: #1e7ec8;
    text-decoration: none
}

.widget-voting .tooltip-content a[data-v-1f72f9a2]:hover {
    text-decoration: underline
}

.worker[data-v-51faaa6e] {
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(25, 25, 25, .27);
    padding: 7px 5px 2px 0;
    margin-right: 5px;
    margin-left: 5px;
    height: 110px
}

.worker h3[data-v-51faaa6e] {
    font-size: .7em;
    padding-left: .5em;
    padding-right: .5em
}

.worker .funding[data-v-51faaa6e], .worker .status[data-v-51faaa6e], .worker .time[data-v-51faaa6e], .worker .votes[data-v-51faaa6e] {
    font-size: .7em
}

.worker .voting[data-v-51faaa6e] {
    font-size: .7em;
    margin-bottom: .5em;
    float: right
}

.worker .voting .done[data-v-51faaa6e] {
    padding-top: .7em
}

.worker .voting .button[data-v-51faaa6e] {
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(25, 25, 25, .27);
    margin-top: 0
}

.widget-inline-voting .voting-popup-content {
    font-size: .9em
}

.copyright {
    font-size: .8em
}

.copyright a {
    color: #1e7ec8;
    text-decoration: none
}

.copyright a:hover {
    text-decoration: underline
}

.copyright img {
    height: 1.6em;
    width: 1.6em
}

.widget-inline-voting .voting-text {
    display: inline;
    position: relative
}

.widget-inline-voting .voting-text:hover {
    cursor: pointer
}

.widget-inline-voting .voting-popup {
    display: inline;
    position: absolute;
    min-width: 13em;
    border-bottom: 6px solid #000;
    border: thin solid rgba(0, 0, 0, .23);
    background: #fff;
    color: #000;
    border-radius: 16px;
    padding: 5px 10px 4px;
    box-shadow: 5px 10px 18px rgba(25, 25, 25, .27);
    font-size: .9em
}

.widget-inline-voting .voting-popup-content .button {
    border-radius: 15px;
    margin-top: .3em;
    margin-bottom: .3em;
    float: right
}
