#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px
}

.widget-voting h2[data-v-34647710] {
  display: inline-block;
  width: 250px;
  background-color: #33a3f1;
  font-size: 10px;
  border-radius: 50px 50px 50px 50px;
  margin-bottom: 0;
  padding: 1px;
  color: #fff;
  border-bottom: 1px solid #323d54
}

.widget-voting .time[data-v-34647710] {
  color: #33a3f1;
  display: inline-block
}

.widget-voting .content[data-v-34647710] {
  display: inline-block
}

.widget-voting .tooltip[data-v-34647710]:hover {
  text-decoration: none
}

.widget-voting .tooltip span[data-v-34647710] {
  z-index: 5;
  display: none;
  padding: 3px 10px 0;
  margin-top: -15px;
  margin-left: -5px;
  width: auto;
  line-height: .6em
}

.widget-voting .tooltip:hover span[data-v-34647710] {
  display: inline;
  position: absolute;
  border: 1px solid #000;
  color: #000
}

.widget-voting .tooltip span[data-v-34647710] {
  border-radius: 15px;
  opacity: .8
}

.widget-voting .tooltip-content[data-v-34647710] {
  font-size: .6em
}

.widget-voting .tooltip-content img[data-v-34647710] {
  height: 1.6em;
  width: 1.6em
}

.widget-voting .tooltip-content a[data-v-34647710] {
  color: #1e7ec8;
  text-decoration: none
}

.widget-voting .tooltip-content a[data-v-34647710]:hover {
  text-decoration: underline
}

.worker[data-v-14af419e] {
  display: inline-block;
  border-radius: 15px;
  box-shadow: 0 2px 15px rgba(25, 25, 25, .27);
  padding: 7px 5px 2px 0;
  margin-right: 5px;
  margin-left: 5px
}

.worker h3[data-v-14af419e] {
  font-size: .7em;
  padding-left: .5em;
  padding-right: .5em
}

.worker .funding[data-v-14af419e], .worker .status[data-v-14af419e], .worker .time[data-v-14af419e], .worker .votes[data-v-14af419e] {
  font-size: .7em
}

.worker .vote-button[data-v-14af419e] {
  float: right
}

.worker .vote-button button[data-v-14af419e] {
  border-radius: 15px;
  font-size: .7em;
  box-shadow: 0 2px 5px rgba(25, 25, 25, .27);
  margin-bottom: .5em
}
