#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px
}

.widget-voting h2[data-v-3c2bf420] {
    display: inline-block;
    width: 250px;
    background-color: #33a3f1;
    font-size: 15px;
    border-radius: 50px 50px 50px 50px;
    margin-bottom: 0;
    padding: 1px;
    color: #fff;
    border-bottom: 1px solid #323d54
}

.widget-voting .time[data-v-3c2bf420] {
    color: #33a3f1;
    display: inline-block
}

.widget-voting .content[data-v-3c2bf420] {
    display: inline-block
}

.widget-voting .tooltip[data-v-3c2bf420]:hover {
    text-decoration: none
}

.widget-voting .tooltip span[data-v-3c2bf420] {
    z-index: 5;
    display: none;
    padding: 3px 10px 0;
    margin-top: -35px;
    margin-left: -5px;
    width: auto;
    line-height: .6em
}

.widget-voting .tooltip:hover span[data-v-3c2bf420] {
    display: inline;
    position: absolute;
    border: 1px solid #000;
    color: #000
}

.widget-voting .tooltip span[data-v-3c2bf420] {
    border-radius: 15px;
    opacity: .8
}

.widget-voting .tooltip-content[data-v-3c2bf420] {
    font-size: .6em
}

.widget-voting .tooltip-content img[data-v-3c2bf420] {
    height: 1.6em;
    width: 1.6em
}

.widget-voting .tooltip-content a[data-v-3c2bf420] {
    color: #1e7ec8;
    text-decoration: none
}

.widget-voting .tooltip-content a[data-v-3c2bf420]:hover {
    text-decoration: underline
}

.worker[data-v-51faaa6e] {
    display: inline-block;
    border-radius: 15px;
    box-shadow: 0 2px 15px rgba(25, 25, 25, .27);
    padding: 7px 5px 2px 0px;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 80px;
    height: 140px
}

.worker h3[data-v-51faaa6e] {
    font-size: .7em;
    padding-left: .5em;
    padding-right: .5em
}

.worker .funding[data-v-51faaa6e], .worker .status[data-v-51faaa6e], .worker .time[data-v-51faaa6e], .worker .votes[data-v-51faaa6e] {
    font-size: .6em
}

.worker .voting[data-v-51faaa6e] {
    font-size: .7em;
    margin-bottom: .5em;
    float: right;
}

.worker .voting .done[data-v-51faaa6e] {
    padding-top: .7em
}

.worker .voting .button[data-v-51faaa6e] {
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(25, 25, 25, .27);
    margin-top: 1.6em;
}

@media screen and (max-width: 1680px) {
    .worker .voting .button[data-v-51faaa6e] {
        margin-top: 3.5em;
    }
}

@media screen and (max-width: 1280px) {
    .worker .voting .button[data-v-51faaa6e] {
        margin-top: 0.3em;
    }
}

.copyright {
    margin-top: -40px;
}

@media screen and (max-width: 1680px) {
    .copyright {
        margin-top: -25px;
    }
}

@media screen and (max-width: 1280px) {
    .copyright {
        margin-top: -10px;
    }
}

.worker .voting .done[data-v-51faaa6e] {
    padding-top: 0em
}
